* {
    font-family: "Jura", serif;
    transition: all 0.5s ease;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-image: linear-gradient(to bottom, #EAEFF8, #E1E8FA, #E1E8FA, #D4DFFA);
    opacity: 0;
    animation: fadeIn 2s ease-out 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #EAEFF8;
    transform: translateY(0);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #FFFFFF;
}

.name {
    padding: 50px 100px;
    border-right: 5px solid #FFFFFF;
}

.name a {
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    position: relative;
    display: inline-block;
}

.santa-hat {
    position: absolute;
    width: 40px;
    height: auto;
    top: 40px;
    left: 86px;
    transform: rotate(-15deg);
    pointer-events: auto;
    z-index: 10;
}

.nav-buttons a.current {
    color: #666666;
    text-decoration: underline;
}

.nav-buttons a.current:hover {
    transform: none;
}

.nav-buttons a {
    text-decoration: none;
    font-size: 24px;
    padding: 40px 10px;
    color: #000000;
    text-transform: uppercase;
    display: inline-block;
    transition: transform 0.3s ease;
}

.nav-buttons a:hover {
    transform: scaleX(1.1);
}

main {
    margin-top: 100px;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;
}

.left-photo {
    width: 550px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: end;
    border: 5px solid #FFFFFF;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.left-photo img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    transition: opacity 1s ease, filter 1s ease;
}

.left-photo img.blurred {
    filter: blur(0px);
    opacity: 0;
}

.left-photo-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.left-photo.revealed .left-photo-canvas {
    opacity: 0;
}

.about-me {
    width: 550px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
}

.about-me h2 {
    font-size: 36px;
}

.about-me p {
    font-size: 24px;
    color: #333333;
}

.container-label {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    font-size: 18px;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.about-me, .right-photo, .left-image-container, .photo-container-right {
    position: relative;
}

.right-photo {
    flex-grow: 1;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
}

.right-photo img,
.left-image-container img,
.right-image-container img,
.photo-container-left img,
.photo-container-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-section, .photo-section {
    display: flex;
    width: 100%;
    height: 700px;
}

.left-image-container {
    width: 500px;
    height: 700px;
    border: 5px solid #FFFFFF;
}

.slider-container {
    width: 700px;
    height: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    overflow: hidden;
}

.language-slider {
    width: 100%;
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide h2 {
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
}

.pagination-controls {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.nav-button {
    cursor: pointer;
    font-size: 48px;
    border: none;
    background-color: transparent;
    color: #333333;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 0;
    line-height: 1;
    user-select: none;
}

.right-image-container {
    flex-grow: 1;
    height: 700px;
    border-top: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
}

.photo-container-left {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #FFFFFF;
    position: relative;
}

.contact-overlay {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    margin: auto 150px;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
}

.contact-columns {
    display: flex;
    gap: 50px;
}

.contact-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    font-size: 24px;
    width: 100%;
}

.contact-item svg {
    width: 25px;
    height: 25px;
    fill: #FFFFFF;
}

.spoiler {
    position: relative;
    display: inline-block;
    cursor: pointer;
    flex: 1;
}

.spoiler-text {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: relative;
    z-index: 2;
    color: #FFFFFF;
}

.spoiler.active .spoiler-text {
    visibility: visible;
    opacity: 1;
}

.spoiler-canvas {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    transition: opacity 0.3s ease;
}

.spoiler.active .spoiler-canvas {
    opacity: 0;
    pointer-events: none;
}

.photo-container-right {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
}

.social-buttons {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100px;
}

.right-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-button a {
    background-color: #FFFFFF;
    padding: 20px 100px;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    transition: all 0.3s ease;
    border-radius: 200px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 1);
}

.right-button a:hover {
    transform: scaleX(1.1);
}

.foot {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.language-toggle a, .theme-icon {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 15px;
    border-radius: 50%;
}

.language-toggle a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
}

.theme-icon {
    position: absolute;
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    pointer-events: none;
}

.language-toggle a:hover,
.theme-toggle:hover .theme-icon {
    color: #333333;
    background-color: rgba(255, 255, 255, 1);
}

.theme-toggle {
    position: relative;
    width: 54px;
    height: 54px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sun-icon {
    opacity: 1;
    transform: rotate(0deg);
}

.moon-icon {
    opacity: 0;
    transform: rotate(180deg);
}

.scroll-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease, background-color 0.5s ease, color 0.5s ease;
}

.scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

.scroll-to-top .material-icons {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #FFFFFF;
    padding: 15px;
    border-radius: 50%;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.scroll-to-top:hover .material-icons {
    color: #333333;
    background-color: rgba(255, 255, 255, 1);
}

body.dark-theme .sun-icon {
    transform: rotate(-180deg);
    opacity: 0;
}

body.dark-theme .moon-icon {
    transform: rotate(0);
    opacity: 1;
}

body.dark-theme {
    background-image: linear-gradient(135deg, #4C4F59, #393C40, #303133);
}

body.dark-theme header {
    background-color: #28292A;
}

body.dark-theme header,
body.dark-theme .name,
body.dark-theme .left-photo,
body.dark-theme .about-me,
body.dark-theme .right-photo,
body.dark-theme .left-image-container,
body.dark-theme .slider-container,
body.dark-theme .right-image-container,
body.dark-theme .photo-container-left,
body.dark-theme .photo-container-right,
body.dark-theme .left-button {
    border-color: #222222;
}

body.dark-theme .name a,
body.dark-theme .nav-buttons a,
body.dark-theme .about-me h2,
body.dark-theme .about-me p,
body.dark-theme .slide h2,
body.dark-theme .left-button a,
body.dark-theme .theme-icon,
body.dark-theme .language-icon a {
    color: #FFFFFF;
}

body.dark-theme .nav-buttons a.current {
    color: #666666;
}

body.dark-theme .nav-button {
    color: #FFFFFF;
}

body.dark-theme .nav-button:hover {
    color: #333333;
}

@media screen and (min-width: 1081px) and (max-width: 1200px) {
    .nav-buttons a:hover {
        transform: none;
    }

    .contact-overlay {
        margin: auto 50px;
    }

    .slide h2 {
        font-size: 48px;
    }

    .left-button a:hover, .right-button a:hover {
        transform: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
    body.dark-theme .name {
        border-right-color: #FFFFFF;
    }

    .nav-buttons {
        flex-direction: column;
        padding: 5px;
    }

    .nav-buttons a {
        padding: 10px 0;
        margin-bottom: 5px;
        width: 100%;
        text-align: right;
    }

    .nav-buttons a:hover {
        transform: none;
    }

    .about-me p {
        text-align: center;
    }

    .contact-overlay {
        margin: auto 50px;
    }

    .contact-columns, .contact-column {
        flex-direction: column;
        gap: 40px;
    }

    .slide h2 {
        font-size: 40px;
        font-weight: bold;
    }

    .nav-button {
        font-size: 28px;
    }

    .left-button a:hover, .right-button a:hover {
        transform: none;
    }
}

@media screen and (max-width: 768px) {
    body.dark-theme .name {
        border-right-color: #FFFFFF;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 20px;
    }

    .name {
        padding: 10px 5px;
        margin-bottom: 10px;
    }

    .name a {
        font-size: 24px;
        margin-right: 10px;
    }

    .santa-hat {
        width: 30px;
        top: 22px;
        left: 13px;
    }

    .nav-buttons {
        flex-direction: column;
        padding: 5px;
    }

    .nav-buttons a {
        padding: 10px 0;
        margin-bottom: 5px;
        font-size: 20px;
        width: 100%;
        text-align: left;
    }

    .nav-buttons a:hover {
        transform: none;
    }

    main {
        margin-top: 250px;
    }

    .content, .new-section, .photo-section {
        flex-direction: column;
        width: auto;
        height: auto;
    }

    .about-me {
        height: 400px;
        width: auto;
        border-left: 5px solid #FFFFFF;
        border-right: 5px solid #FFFFFF;
        border-top: none;
        border-bottom: none;
    }

    .right-photo,
    .left-image-container,
    .slider-container,
    .right-image-container,
    .photo-container-left,
    .photo-container-right {
        width: auto;
    }

    .left-photo {
        width: 100%;
        height: auto;
        border: none;
    }

    .left-photo img {
        width: 100%;
    }

    .right-photo {
        text-align: center;
        border-left: 5px solid #FFFFFF;
    }

    .left-image-container, .photo-container-left, .photo-container-right {
        border-top: none;
    }

    .right-image-container, .photo-container-right {
        border-left: 5px solid #FFFFFF;
    }

    .slider-container {
        border-top: none;
        border-left: 5px solid #FFFFFF;
        height: 300px;
    }

    .slide h2, .nav-button {
        font-size: 36px;
    }

    .photo-container-right {
        border-top: 5px solid #FFFFFF;
    }

    .photo-container-left {
        border-bottom: none;
        height: auto;
        min-height: 500px;
    }

    .photo-container-left img {
        border: none;
    }

    .container-label {
        bottom: 20px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    }

    .contact-overlay {
        margin: 20px;
        padding: 30px 20px;
    }

    .contact-columns {
        width: 100%;
    }

    .contact-column {
        width: 100%;
        gap: 20px;
    }

    .contact-columns, .contact-column {
        flex-direction: column;
        gap: 20px;
    }

    .contact-item {
        font-size: 16px;
        backdrop-filter: blur(20px);
        padding: 10px;
        border-radius: 50px;
        flex-wrap: nowrap;
    }

    .contact-item svg {
        width: 20px;
        height: 20px;
        fill: #FFFFFF;
        flex-shrink: 0;
    }

    .left-button a, .right-button a {
        font-size: 24px;
    }

    .left-button a:hover, .right-button a:hover {
        transform: none;
    }

    .right-button {
        border-top: none;
    }

    .foot {
        bottom: 10px;
        left: 10px;
        gap: 10px;
    }

    .language-toggle a, .theme-icon {
        font-size: 18px;
        padding: 10px;
    }

    .scroll-to-top .material-icons {
        font-size: 24px;
        padding: 10px;
    }
}