body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-image: linear-gradient(to bottom, #EAEFF8, #E1E8FA, #E1E8FA, #D4DFFA);
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    font-family: "Jura", serif;
    opacity: 0;
    animation: fadeIn 1s ease-out 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #EAEFF8;
    transform: translateY(0);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #FFF;
}

.name {
    padding: 35px 70px;
    border-right: 5px solid #FFF;
}

.name a {
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.nav-buttons {
    margin-right: 30px;
}

.nav-buttons a.current {
    color: #777;
}

.nav-buttons a.current:hover {
    transform: none;
}

.nav-buttons a {
    text-decoration: none;
    font-size: 24px;
    font-weight: lighter;
    padding: 35px 20px;
    color: #000;
    text-transform: uppercase;
    display: inline-block;
    transition: transform 0.3s ease;
}

.nav-buttons a:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

main {
    border-bottom: 5px solid #FFF;
    border-right: 5px solid #FFF;
    border-left: 5px solid #FFF;
}

.container {
    max-width: 1080px;
    margin: auto;
    padding-bottom: 100px;
}

.projects h2 {
    margin: 100px 0 40px 0;
    padding-top: 100px;
    font-size: 32px;
    font-weight: normal;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-card:nth-child(-n+2) {
    border-top: 1px solid #000;
    padding-top: 20px;
}

.project-card img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    pointer-events: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.project-content h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.project-content p {
    font-size: 18px;
    font-weight: lighter;
    margin: 0 0 15px 0;
    text-align: justify;
}

.project-info {
    font-size: 16px;
    color: #777;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
    width: 100%;
    height: 70px;
    font-size: 18px;
    font-weight: normal;
}

.theme-toggle {
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.icon-container {
    position: relative;
    width: 30px;
    height: 30px;
}

.theme-icon {
    position: absolute;
    bottom: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    color: #333;
}

.moon-icon {
    transform: rotate(180deg);
    opacity: 0;
}

body.dark-theme .sun-icon {
    transform: rotate(-180deg);
    opacity: 0;
}

body.dark-theme .moon-icon {
    transform: rotate(0);
    opacity: 1;
}

body.dark-theme {
    background-image: linear-gradient(135deg, #575B66, #505359, #484A4D);
}

body.dark-theme header {
    background: #28292A;
}

body.dark-theme header,
body.dark-theme .name,
body.dark-theme main,
body.dark-theme .container,
body.dark-theme .projects,
body.dark-theme .project-card {
    border-color: #222;
}

body.dark-theme .name a,
body.dark-theme .nav-buttons a,
body.dark-theme .projects h2,
body.dark-theme .project-content h3,
body.dark-theme .project-content p,
body.dark-theme .footer-text {
    color: #FFF;
}

body.dark-theme .nav-buttons a.current {
    color: #777;
}

body.dark-theme .project-info {
    color: #AAA;
}

body.dark-theme .theme-icon {
    color: #FFF;
}

body.dark-theme {
    background-image: linear-gradient(135deg, #575B66, #505359, #484A4D);
}

body.dark-theme .project-card:nth-child(-n+2) {
    border-top-color: #FFF;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 20px;
    }

    .name {
        padding: 10px 5px;
        margin-bottom: 10px;
    }

    .name a {
        font-size: 24px;
    }

    .nav-buttons {
        flex-direction: column;
        padding: 5px;
    }

    .nav-buttons a {
        padding: 10px 0;
        margin-bottom: 5px;
        font-size: 18px;
        width: 100%;
        text-align: left;
    }

    .nav-buttons a:hover {
        transform: none;
    }

    .container {
        padding: 10px;
        margin: 100px 0 0 0;
    }

    .projects h2 {
        font-size: 28px;
    }

    .project-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-card:not(:first-child) {
        border-top: none;
    }

    .footer {
        font-size: 14px;
    }
}